@charset "UTF-8";

.residenceAccueil1 {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../images/vue1.jpg") no-repeat center top;
    background-size: contain;
}

.residenceAccueil2 {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../images/vue8.jpg") no-repeat center top;
    background-size: contain;
}

.residenceApartment {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../images/vue7.jpg") no-repeat center top;
    background-size: contain;
}

.tooltip-customized .tooltip-inner {
    color: #FFF;
    background: #428bca;
    border: solid 1px #000;
    max-width: 1000px;
}
